.darkgrid
{
	width:80px;
	height: 80px;
	
	border: 2px solid black;
	background-color: grey;
	float:left;

}

.whitegrid
{
	width:80px;
	height:80px;
	background-color: white;
	float:left;
	
	border: 2px solid grey;
}